@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* HEADER SECTION START */
.header a {
    font-weight: 500;
    color: #4c4c4c;
    font-size: 14px;
}

.header ul li {
    margin-right: 1.5rem;
}

.nav_content {
    display: flex;
    justify-content: space-evenly;
}

.DISCOVER_btn {
    border: 2px solid #000;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.banner_section {
    position: relative;
}

.head_content {
    position: absolute;
    top: 20%;
    left: 10%;
}

.head_content h1 {
    font-size: 50px;
    font-weight: bolder;
}

/* SECTION 2 START */
.container.sectionTwo {
    padding: 0rem 6rem 4rem;
}

.card_row {
    background-color: #ffff;
    margin: 0 auto;
    width: 82%;
}

.card_body {
    position: relative;
    display: flex;
    align-items: center;
}

.card_text {
    position: absolute;
    margin-left: 20px;
}

.card_text h5 {
    font-weight: bold;
}

.card_body button {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
    color: #727273;
}

.products h5, p {
    margin: 0;
    margin-top: 5px;
}

.strike {
    text-decoration: line-through;
    color: #727273;
}

.load_btn {
    border: 2px solid #727273;
    font-weight: bold;
    font-size: 15px;
    background: none;
}

.sectionThreeCard {
    position: relative;
}

.sectionThreeCardText {
    position: absolute;
    top: 14%;
    left: 3%;
    width: 55%;
}

.sectionThreeCardText h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.sectionThreeCardText p {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.buy_btn {
    border: 2px solid #d2cfcf;
    font-weight: bold;
    font-size: 15px;
    background: none;
}

.buy_btn:hover {
    border: 2px solid #727273;
    font-weight: bold;
    font-size: 15px;
    background: none;
}

.discount_info {
    padding: 2rem 6rem 4rem;
}

.footer a {
    text-decoration: none;
}

.hexColor {
    color: #bc8246;
}

.btn_style {
    background: none;
    color: #4c4c4c;
    font-weight: bold;
    border: 3px solid #000;
}

.btn_readMore {
    box-sizing: border-box;
    border: 2px double #4c4c4c;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.product_sec {
    background-image: url('assets/img/image-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.sectionFour {
    padding: 6rem 6rem;
}

.company_logos {
    padding: 6rem 0rem 0rem;
}

.sectionFive {
    padding: 2rem 9rem;
}

.product_ess {
    padding: 0.5rem;
}

.discount_info h6 {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}

.discount_info p {
    margin-top: 5rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}

.btn_style {
    border: 2px solid #000;
    font-weight: bold;
    font-size: 15px;
    background: none;
    border-radius: 0px;
}

.btn_style:hover {
    border: 2px solid #000;
    font-weight: bold;
    font-size: 15px;
    background: none;
    border-radius: 0px;
}



/* Media query */


@media screen and (min-width: 1600px) {}


@media screen and (max-width:1500px) {}

@media screen and (max-width:1330px) {}


@media screen and (max-width:1180px) {
    .head_content h1 {
        font-size: 40px;
    }

    .sectionThreeCardText {
        position: absolute;
        top: 5%;
        left: 3%;
        width: 55%;
    }

    .sectionThreeCardText h3 {
        font-size: 0.8rem;
    }

    .sectionThreeCardText p {
        font-size: 9px;
        font-weight: 400;
        color: rgba(25, 12, 12, 0.8);
    }

    .buy_btn {
        margin-top: 10px !important;
        padding: 8px 30px !important;
    }



}


@media screen and (max-width:1045px) {
    .head_content {
        top: 20%;

    }

    .head_content h1 {
        font-size: 30px;
    }

    .head_content p {
        font-size: 10px;
    }

    .DISCOVER_btn {
        border: 2px solid #000;
        margin: 0 !important;
        font-size: 10px;
        cursor: pointer;
        padding: 0.3rem !important;
    }
}

@media screen and (max-width:880px) {
    .head_content {
        width: 50%;
    }

    .head_content h1 {
        font-size: 20px;
    }

    .head_content {
        top: 15%;
    }
}

@media screen and (max-width:600px) {
    .head_content h1 {
        font-size: 10px;
    }

    .head_content p {
        font-size: 10px;
        margin: 0 !important;
    }

    .head_content {
        top: 10%;
    }

}



@media screen and (max-width:800px) {}

@media screen and (max-width:700px) {}